@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  margin: 0; 
  overflow: hidden; 
  background-color: #0B0C15; 
  font-family: 'Inter', sans-serif; 
}